[all]

{% for ip, hostname, domain, _, _  in hosts %}
{{ hostname }} ansible_host={{ ip }} ansible_connection=ssh ansible_user=vagrant domain={{ domain }} ansible_ssh_private_key_file=./.vagrant/machines/{{ hostname }}.{{ domain }}/virtualbox/private_key

{% endfor %}

[edge]
edge-01

[zk]
master-0[1:3]

[kdc]
master-01

[ca]
master-02

[hdfs_nn]
master-0[1:2]

[hdfs_jn]
master-0[1:3]

[hdfs_dn]
worker-0[1:3]

[yarn_rm]
master-0[1:2]

[yarn_nm]
worker-0[1:3]

[yarn_ats]
master-02

[hadoop_client]
edge-01
master-0[1:3]

[hive_s2]
master-0[2:3]

[hive_client]
edge-01

[hbase_master]
master-0[1:2]

[hbase_rs]
worker-0[1:3]

[hbase_rest]
master-03

[hbase_client]
edge-01

[phoenix_queryserver_daemon]
master-03

[phoenix_queryserver_client]
edge-01

[postgresql]
master-02

[postgresql_client:children]
hive_s2
ranger_admin
oozie_server

[ranger_admin]
master-02

[spark_hs]
master-01

[spark_client]
edge-01

[oozie_server]
master-01

[oozie_client]
edge-01
