# Vagrant
Vagrantfile
.vagrant/

# TDP
inventory/hosts.ini
inventory/topologies/
files/
ansible_dependencies/
.cache/
tdp_vars/

# TDP lib
venv/
pythonenv/
.env
sqlite.db

# TDP server
.deploy.lock

# TDP UI
package.json
package-lock.json
node_modules/

# Other
logs/
*.log
.DS_Store
.vscode/
.python-version
