[submodule "tdp-lib"]
	path = tdp-lib
	url = https://github.com/TOSIT-IO/tdp-lib
[submodule "tdp-server"]
	path = tdp-server
	url = https://github.com/TOSIT-IO/tdp-server
[submodule "tdp-ui"]
	path = tdp-ui
	url = https://github.com/TOSIT-IO/tdp-ui
