---
# TDP
realm: REALM.TDP
num_vagrant_processes: 7

# Ranger
ranger_admin_password: RangerAdmin123

# Kerberos
kadmin_principal: admin/admin
kadmin_password: admin
kadmind_server: "{{ groups['kdc'][0] | tosit.tdp.access_fqdn(hostvars) }}"
kdc_server: "{{ groups['kdc'][0] | tosit.tdp.access_fqdn(hostvars) }} "

# Rename for ansible-kerberos-client and ansible-kerberos-server
realm_name: "{{ realm }}"
master_db_pass: krb5-master-pass
kadmin_user: "{{ kadmin_principal }}"
kadmin_pass: "{{ kadmin_password }}"
kdc_port: 88

# Service start on boot
hdfs_nn_start_on_boot: yes
hdfs_dn_start_on_boot: yes
hdfs_jn_start_on_boot: yes
hdfs_zkfc_start_on_boot: yes
yarn_nm_start_on_boot: yes
yarn_rm_start_on_boot: yes
yarn_ts_start_on_boot: yes
hbase_master_start_on_boot: yes
hbase_rs_start_on_boot: yes
hiveserver2_start_on_boot: yes
knox_start_on_boot: yes
oozie_start_on_boot: yes
ranger_admin_start_on_boot: yes
ranger_usync_start_on_boot: yes
spark_hs_start_on_boot: yes
zk_start_on_boot: yes
krb_start_on_boot: yes

# Service restart policies
hdfs_nn_restart: always
hdfs_dn_restart: always
hdfs_jn_restart: always
hdfs_zkfc_restart: always
yarn_nm_restart: always
yarn_rm_restart: always
yarn_ts_restart: always
hbase_master_restart: always
hbase_rs_restart: always
hiveserver2_restart: always
knox_restart: always
oozie_restart: always
ranger_admin_restart: always
ranger_usync_restart: always
spark_hs_restart: always
zk_restart: always

# oozie
oozie_user: oozie

# CA
ca_cert_filename: root.pem

POLICY_MGR_URL: "https://{{ groups['ranger_admin'][0] | tosit.tdp.access_fqdn(hostvars) }}:6182"

# hdfs
hdfs_user: hdfs
ranger_hdfs_install_properties:
  POLICY_MGR_URL: "{{ POLICY_MGR_URL }}"
  REPOSITORY_NAME: hdfs-tdp

# hive
ranger_hive_install_properties:
  POLICY_MGR_URL: "{{ POLICY_MGR_URL }}"
  REPOSITORY_NAME: hive-tdp

# Spark
spark_defaults:
  spark.eventLog.dir: hdfs://mycluster/spark-logs
  spark.history.fs.logDirectory: hdfs://mycluster/spark-logs
  spark-yarn-historyServer: "{{ groups['kdc'][0] | tosit.tdp.access_fqdn(hostvars) }}:18081"
hadoop_root_dir: /opt/tdp
hadoop_root_conf_dir: /etc/hadoop

# yarn
ranger_yarn_install_properties:
  POLICY_MGR_URL: "{{ POLICY_MGR_URL }}"
  REPOSITORY_NAME: yarn-tdp

yarn_site:
  # To enable Kerberos on the ATS UI
  yarn.timeline-service.http-authentication.type: kerberos
  yarn.timeline-service.http-authentication.kerberos.principal: HTTP/_HOST@{{ realm }}
  yarn.timeline-service.http-authentication.kerberos.keytab: /etc/security/keytabs/spnego.service.keytab

# Zookeeper
hadoop_ha_zookeeper_quorum: "{{groups['zk'] | map('extract', hostvars, ['ansible_host']) | map('regex_replace', '^(.*)$', '\\1:2181') | join(',') }}"

# User management
users:
  - username: tdp_user
    password: tdp_user123
  - username: smoke_user
    password: smoke_user123

# Depends on hdfs service
user_hdfs_policies:
  - name: tdp_user-hdfs-home-policy
    description: tdp_user access to hdfs:////user/tdp_user
    isAuditEnabled: true
    isEnabled: true
    policyItems:
      - accesses:
          - { isAllowed: true, type: read }
          - { isAllowed: true, type: write }
          - { isAllowed: true, type: execute }
        conditions: []
        delegateAdmin: true
        groups: []
        users: [tdp_user]
    repositoryType: hdfs
    resources:
      path:
        isExcludes: false
        isRecursive: true
        values: ["hdfs:////user/tdp_user"]
    service: hdfs-tdp
  - name: smoke_user-hdfs-home-policy
    description: smoke_user access to hdfs:////user/smoke_user
    isAuditEnabled: true
    isEnabled: true
    policyItems:
      - accesses:
          - { isAllowed: true, type: read }
          - { isAllowed: true, type: write }
          - { isAllowed: true, type: execute }
        conditions: []
        delegateAdmin: true
        groups: []
        users: [smoke_user]
    repositoryType: hdfs
    resources:
      path:
        isExcludes: false
        isRecursive: true
        values: ["hdfs:////user/smoke_user"]
    service: hdfs-tdp

# Depends on hdfs service (hive policies )
# # Depends on hdfs service (hive policies )
# hive_hdfs_policies:
#   - name: hive-hdfs-user-policy
#     description: Necessary oozie access to hdfs:////user
#     isAuditEnabled: true
#     isEnabled: true
#     policyItems:
#     - accesses:
#       - {isAllowed: true, type: read}
#       - {isAllowed: true, type: write}
#       - {isAllowed: true, type: execute}
#       conditions: []
#       delegateAdmin: true
#       groups: []
#       users: ["{{oozie_user}}"]
#     repositoryType: hdfs
#     resources:
#       path:
#         isExcludes: false
#         isRecursive: true
#         values: ["/user"]
#     service: hdfs-tdp


oozie_hdfs_policies:
  - name: oozie-hdfs-user-dir-policy
    description: Necessary oozie access to hdfs:////user
    isAuditEnabled: true
    isEnabled: true
    policyItems:
      - accesses:
          - { isAllowed: true, type: read }
          - { isAllowed: true, type: write }
          - { isAllowed: true, type: execute }
        conditions: []
        delegateAdmin: true
        groups: []
        users: ["{{oozie_user}}"]
    repositoryType: hdfs
    resources:
      path:
        isExcludes: false
        isRecursive: true
        values: ["/user"]
    service: hdfs-tdp

# Depends on hive service
user_hive_policies:
  - name: tdp-user-hive-policy
    description: Hive Client Check
    service: hive-tdp
    repositoryType: hive
    isAuditEnabled: true
    isEnabled: true
    resources:
      column:
        isExcludes: false
        values: ["*"]
      database:
        isExcludes: false
        values: [tdp_user_db]
      table:
        isExcludes: false
        values: ["*"]
    policyItems:
      - users: [tdp_user]
        groups: []
        delegateAdmin: true
        accesses:
          - { isAllowed: true, type: select }
          - { isAllowed: true, type: update }
          - { isAllowed: true, type: Create }
          - { isAllowed: true, type: Drop }
          - { isAllowed: true, type: Alter }
          - { isAllowed: true, type: Index }
          - { isAllowed: true, type: Lock }
          - { isAllowed: true, type: All }
          - { isAllowed: true, type: Read }
          - { isAllowed: true, type: Write }
          - { isAllowed: true, type: Refresh }
        conditions: []
